@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Purchase Price</th>
                <th>Selling Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.PurchasePrice.ToString("C")</td>
                    <td>@item.SellingPrice.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
